{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/jquery_confirm/jquery-confirm.min.css' %}">
    <title>Editar IP</title>
</head>
<body>
    

<div class="large reveal" id="exampleModal1" data-reveal>
        
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      
    <div class="grid-container" >
        <div class="grid-x">
            <h4 class="cell" style=text-align:center;">
                Modificar Direccion IP {{object.direccion}} 
            </h4>
            <form class="cell callout grid-x grid-margin-x" style="background-color: rgb(212, 212, 206);" method="POST">{% csrf_token %}
                <div class="cell large-2">
                    <label>Direccion IP</label>
                        <!-- {{form.fechaingreso}} <input type="date"> -->
                        {{form.direccion}}
                </div>
                
                <div class="cell large-2">
                    <label>Tipo de Ip
                        {{form.tipos}}
                    </label>
                </div>    
                
                <div class="cell large-2">
                    <label>Categoria:
                        {{form.categoria}}
                    </label>
                </div>   
                
                <div class="cell medium-4">
                    <label>Mac Address:
                        {{form.macaddress}}
                    </label>
                </div>  
                
                <div class="cell large-2">
                    <label>Equipo:
                        {{form.equipo}}
                    </label>
                </div>
                
                <div class="cell large-6">
                    <label>Switch:</label>
                        {{form.switch}}
                </div>
                
                <div class="cell large-2">
                    <label>Puerto:</label>
                        {{form.puerto}}
                </div>
    
                <div class="cell auto">
                    <label>Dependencia:</label>
                        {{form.dependencia}}
                </div>
    
                <div class="cell large-6">
                    <label>Empleado:</label>
                        {{form.empleado}}
                </div>
                <div class="cell large-12">
                    <label>Observacion:</label>
                        {{form.observacion}}
                </div>
    
                <div class="cell large-4">
                    <label>ID:</label>
                        {{form.id}}
                </div>
                
                <div class="cell large-12" align = "center">
                    <button type="submit" class="success button">Actualizar</button>
                    <a class ="success button" href ="{% url 'inventario_app:Ips' %}">Cancelar </a> 
                    
                </div>
                    
            </form>     
        </div>
            
    </div>
    </div>
    <p><button class="button" data-open="exampleModal1">Editar</button></p>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>
    <script>
        $(document).foundation();
        
    </script>  

</body>
</html>