{% extends 'base_home.html' %}
{% block content %}

{% include 'header.html' %}

<div class="grid-container full">
  <h4 class="cell" align="center"> LISTADO DE IPS</h4>
  <div class="grid-x grid-margin-x">
    <form class= "cell grid-x grid-margin-x"  method="GET">{% csrf_token %}
      <div class="cell large-4">
        <input type="text" id="kword" name="kword" placeholder="Ingrese Dirección IP">
      </div>
      <div class="cell large-2">
        <button type="submit" class="success button">Consultar</button>
      </div>
    </form> 
  </div>  



  

  <div class="grid-x grid-margin-x">
    <div class="cell grid-x grid-margin-x">
      <table class="hover">
        <thead>
          <tr>
            <th width="50">Nro</th>
              <th width="80">Direccion</th>
              <th width="100">Tipo</th>
              <th width="150">Categoria</th>
              <th width="100">Mac Adress</th>
              <th width="100">Equipo</th>
              <th width="150">Switch</th>
              <th width="80">Puerto</th>
              <th width="100">Dependencia</th>
              <th width="120">Empleado</th>
              <th width="120">Observacion</th>
              <th width="150">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for registro in  lista_ips %}

            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{registro.direccion}}</td>
              <td>{{registro.tipos}}</td>
              <td>{{registro.categoria}}</td> 
              <td>{{registro.macaddress}}</td>
              <td>{{registo.equipo}}</td>
              <td>{{registro.switch}}</td>
              <td>{{registro.puerto}}</td>
              <td>{{registro.dependencia}}</td>
              <td>{{registro.empleado}}</td>
              <td>{{registro.observacion}}</td>
              <td><a class="button warning" data-open="exampleModal1" href="{% url 'inventario_app:modificar_ip' registro.id %}">Editar</a></td>

              
            </tr>
                      
          {% endfor %}
        </tbody>
      </table>
      
    </div>
    
    {% include 'inventario/paginacion.html' %}
  </div>

</div>
{% endblock content %} 
{% block javascript %}
<script>
  function abrir_popup(url) {
      $('#popup').load(url, function () {
          $(this).modal('show');
      });
      return false;
  }

</script>
{% endblock javascript %}
