{% extends 'base_home.html' %}

{% block title %}
    Listado de Pozos
{% endblock title %}
   
{% block content %}

{% include 'header.html' %}

<div class= "grid-container full">
    <div class="grid-x">
        
        <h4 class= "cell">LISTADO DE POZOS</h4>
        <div class="cell">
            <table class= "hover">
                <thead>
                    <tr> 
                    <th width="50">Nro</th>
                    <th width="200">Pozo Numero</th>
                    <th width="50">Direccion</th>
                    <th width="180">Posicion</th>
                    <th width="100">Tipo</th>
                    <th width="150">Observación</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for p in lista_pozos %}  
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.numero}}</td>
                        <td>{{p.direccion}}</td>
                        <td>{{p.get_posicion_display}}</td>
                        <td>{{p.get_tipos_display}}</td>
                        <td>{{p.observacion}}</td>
                        
                        <td><a class="button warning" href="#">Editar</a></td>
                        <!-- <td><button class="button" data-open="exampleModal1">Editar</button></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'bitacora/paginacion.html' %}
        </div>
    </div>
</div>


        
{% endblock content %}