{% extends 'base_home.html' %}

{% block title %}
    Listado de Direcciones
{% endblock title %}
   
{% block content %}

{% include 'header.html' %}

<div class= "grid-container full">
    <div class="grid-x">
        <form class="cell grid-x grid-margin-x" method="GET" enctype="multipart/form-data">{% csrf_token %}
            <div class="cell large-6">
                <input type="text" id="kword" name="kword" placeholder="Ingrese Nombre">
            </div>
            
            <div class="cell large-2">
                <button type="submit" class="success button">Buscar </button>
            </div>
        </form> 
        <h4 class= "cell">LISTADO DE DIRECCION</h4>
        <div class="cell">
            <table class= "hover">
                <thead>
                    <tr> 
                    <th width="50">Nro</th>
                    <th width="450">Direccion</th>
                    <th>Filtrar</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for p in lista_direcciones %}  
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.direccion}}</td>
                        <td><a class="button warning" href="{% url 'bitacora_app:pozos_list' p.id %}">Listar Pozo</a></td>
                        <!-- <td><button class="button" data-open="exampleModal1">Editar</button></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'bitacora/paginacion.html' %}
        </div>
    </div>
</div>


        
{% endblock content %}